@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    height: 100%;
  }  

body{
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);

}

img{
   
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
    letter-spacing: 0em;
    word-break: break-word;
    hyphens: auto;
}

.pl-md-5, .px-md-5 {
    padding-left: 0rem!important;
}

.container1{
    max-width: 700px;
    margin: auto;
    width: 29.5%;
    padding: 8px;
    margin-top: 1rem !important;
    margin-bottom: 30rem !important; 
    word-wrap: break-word;
}

.container1 > p{
    font-size: 32px;
}

.question{
    width: 10%;
}

.options{
    position: relative;
    padding-left: 40px;
    padding-top: 25px;
    line-height: 0;
    word-wrap: break-word;
    color: #ddd;
}

.ml-md-3, .mx-md-3 {
    margin-left: 0.3rem!important;
}

#options label{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input{
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 20px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark:after {
    display: block;
}

.options .checkmark:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 54%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark{
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}

.btn-primary{
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

.btn-primary:hover{
    background-color: #21bf73;
    border: 1px solid #21bf73;
}

.btn-success{
    padding: 5px 25px;
    background-color: #21bf73;
}

@media(max-width:576px){
    .question{
        width: 100%;
        word-spacing: 2px;
    } 
}

