@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    height: 100%;
  }  

body{
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}


.img-fluid {
	max-height: calc(100vh - 500px);
	filter: blur(8px);
	border-radius: 8px;
	box-shadow: 5px 21px 60px #000;
}


.modal-content {
	background-color: rgba(0,0,0,0);
	border: none;
	max-width: 100%;
	max-height: 100px;
	height: auto;
}

.modal-header {
	border: none
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
    hyphens: auto;
	overflow-wrap: break-word;
}

.pl-md-5, .px-md-5 {
    padding-left: 0rem!important;
}

/*
.container1{
    max-width: 700px;
    margin: auto;
    width: 29%;
    padding: 8px;
    margin-top: 0rem !important;
    word-wrap: break-word;
}
*/
.container1 {
	margin: auto
}

.container1 > p{
    font-size: 32px;
}

/*
.question{
    width: 10%;
}
*/

.options{
    position: relative;
    padding-left: 40px;
    padding-top: 25px;
    line-height: 0;
    word-wrap: break-word;
	overflow-wrap: break-word;
    color: #ddd;
}

.ml-md-3, .mx-md-3 {
    margin-left: 0.3rem!important;
}

#options label{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input{
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 20px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark:after {
    display: block;
}

.options .checkmark:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 51%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark{
    background: gray;
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}

.btn-primary{
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}

.btn-primary:hover{
    background-color: #21bf73;
    border: 1px solid #21bf73;
}

.btn-success{
    padding: 5px 25px;
    background-color: #21bf73;
}
/*
@media(max-width:576px){
    .question{
        width: 100%;
        word-spacing: 2px;
    } 
}*/

.options.opcao-certa {
    color: green;
	
}

.options.opcao-errada {
    color: red;
}

img.opcao-certa {
	box-shadow: 0px 0px 40px lawngreen;
	filter:blur(0px);
}

img.opcao-errada {
	box-shadow: 0px 0px 40px red;
	filter:blur(5px);
}

@import url(https://fonts.googleapis.com/css?family=Electrolize);

 * {
	 box-sizing: border-box;
}

 .space-btn {
	 position: relative;
	 font-family: 'Electrolize', sans-serif;
	 font-size: 1em;
	 text-transform: uppercase;
	 letter-spacing: 0.125em;
	 line-height: 1;
	 color: #ffffff;
	 margin: 0;
	 padding: 1em;
	 background: none;
	 border: none;
	 cursor: pointer;
     margin-top: 3rem !important;
    
}

 .space-btn:hover {
	 color: #ffffff;
}

 .space-btn:focus {
	 color: #ffffff;
	 outline: none;
}

 .space-btn:active {
	 color: #ffffff;
}

 .space-btn:before, .space-btn:after {
	 content: "";
	 display: block;
	 position: absolute;
	 width: 100%;
	 height: 1px;
}

 .space-btn:before {
	 top: 0;
	 left: 0;
	 box-shadow: inset 1px 1px 0 0 #ffffff;
}

 .space-btn:after {
	 right: 0;
	 bottom: 0;
	 box-shadow: inset -1px -1px 0 0 #ffffff;
}

 .space-btn:hover:before {
	 animation: hoverShadowBefore 1s forwards;
}

 .space-btn:hover:after {
	 animation: hoverShadowAfter 1s forwards;
}


.space-btn2 {
	position: relative;
	font-family: 'Electrolize', sans-serif;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	line-height: 1;
	color: #ffffff;
	margin: 0;
	padding: 1em;
	background: none;
	border: none;
	cursor: pointer;
	margin-top: 45vh !important;
}

.space-btn2:hover {
	color: #ffffff;
}

.space-btn2:focus {
	color: #ffffff;
	outline: none;
}

.space-btn2:active {
	color: #ffffff;
}

.space-btn2:before, .space-btn2:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
}

.space-btn2:before {
	top: 0;
	left: 0;
	box-shadow: inset 1px 1px 0 0 #ffffff;
}

.space-btn2:after {
	right: 0;
	bottom: 0;
	box-shadow: inset -1px -1px 0 0 #ffffff;
}

.space-btn2:hover:before {
	animation: hoverShadowBefore 1s forwards;
}

.space-btn2:hover:after {
	animation: hoverShadowAfter 1s forwards;
}



.space-btn2:hover {
	color: #ffffff;
}

.space-btn2:focus {
	color: #ffffff;
	outline: none;
}

.space-btn2:active {
	color: #ffffff;
}

.space-btn2:before, .space-btn2:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
}

.space-btn2:before {
	top: 0;
	left: 0;
	box-shadow: inset 1px 1px 0 0 #ffffff;
}

.space-btn2:after {
	right: 0;
	bottom: 0;
	box-shadow: inset -1px -1px 0 0 #ffffff;
}

.space-btn2:hover:before {
	animation: hoverShadowBefore 1s forwards;
}

.space-btn2:hover:after {
	animation: hoverShadowAfter 1s forwards;
}


 @keyframes hoverShadowBefore {
	 0% {
		 width: 100%;
		 height: 1px;
		 top: 0;
		 left: 0;
	}
	 33% {
		 width: 1px;
		 height: 100%;
		 top: 0;
		 left: 0;
	}
	 66% {
		 width: 1px;
		 height: 1px;
		 top: calc(100% - 1px);
		 left: 0;
	}
	 100% {
		 width: 100%;
		 height: 1px;
		 top: calc(100% - 1px);
		 left: 0;
	}
}

 @keyframes hoverShadowAfter {
	 0% {
		 width: 100%;
		 height: 1px;
	}
	 33% {
		 width: 1px;
		 height: 100%;
		 bottom: 0;
		 right: 0;
	}
	 66% {
		 width: 1px;
		 height: 1px;
		 bottom: calc(100% - 1px);
		 right: 0;
	}
	 100% {
		 width: 100%;
		 height: 1px;
		 bottom: calc(100% - 1px);
		 right: 0;
	}
}
  
  #jogo-container {
	opacity: 0;
	transform: scale(0.5);
	animation: scaleUp 1s forwards;
  }
  
  @keyframes scaleUp {
	from {
	  opacity: 0;
	  transform: scale(0.5);
	}
	to {
	  opacity: 1;
	  transform: scale(1);
	}
  }

  .pontos-label_atuais {
	  font-size: 28px;
	  font-weight: bold;
	  color: white;
	  margin-bottom: 10px;
	  position: absolute;
	  top: 48%;
	  left: 15%;
	  transform: translate(0, -50%);
	  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .pontos-value_atuais {
	  font-size: 30px;
	  color: white;
	  position: absolute;
	  top: 53%;
	  left: 19%;
	  transform: translate(0, -50%);
	  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .pontos-label_max {	
	font-size: 28px;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
	position: absolute;
	top: 48%;
	left: 75%;
	transform: translate(0, -50%);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

.pontos-value_max {
	font-size: 30px;
	color: white;
	position: absolute;
	top: 53%;
	left: 79%;
	transform: translate(0, -50%);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

.dropdown-menu {
	background-color: #212529;
	border: none;
	position: fixed;
	display: none;
	z-index: 1000;
  }
  
  .dropdown-item {
	color: #fff;
  }
  
  .dropdown-item:hover {
	background-color: #6c757d;
  }
  
  .dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
  }
  
  .dropdown-toggle[aria-expanded="true"]::after {
	border-top: 0;
	border-bottom: 0.3em solid;
  }
  
  .navbar-expand-lg .navbar-nav .dropdown-menu {
	position: absolute;
  }